* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .header {
    min-height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(153, 159, 158, 0.7), rgba(138, 142, 161, 0.7)), url(background3.jpg);
    background-position: center;
    background-size: cover;
    position: sticky;
  }
  
  nav {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
  }
  
  nav img {
    width: 100px;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
  }
  
  .nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #0c060d;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }
  
  .text-box {
    width: 90%;
    color: #fff;
    top: 50%;
    left: 48%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}



:root {
  --select-border: rgb(112, 112, 112);
  --select-focus: blue;
}
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1; 
}
.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative; 
  min-width: 15ch;
  max-width: 20ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1 ;
  
}
.dropdown {
  text-indent : 4.7%;
}


.go-to-cart{
  position: relative;
  left: -3.5%;
  top: 40%;
}



#imagechange p{
    width: 100px;
    height: 100px;
}
span {
    text-decoration: none;
    color: #030304;
    font-size: 14px;
    margin: 0 0 8px 0;
    width: 100px;
}  


#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}
#scroll_to_top img {
    width: 25px;
}
